


<script src="{{url_for('static', filename='store_settings.js')}}"></script>

{% if g.location_id is none %}
<h1> Current Store settings: {{g.location_id}}, {{g.location_brand}}, {{g.location_address}}</h1>
{% else %}
<h1 style="color:red"> You have not selected a store.</h1>
{% endif %}


<label for="zipbox_input" id="zipbox_label">Enter Zip Code</label>
<input type="text" id="zipbox_input" name="zipbox"> <br>
<button type="button" id="submit_button">Submit</button>

<script type="text/javascript">
    // Moving API endpoint strings to client storage.
    sessionStorage.setItem('get_location_url', '{{ url_for('settings.get_locations') }}');
    submit_listener();

</script>
<!-- Set event listener on the button-->





